<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <title>Cineverse - About Us</title>
</head>
<body>
    <!--navigation bar-->
    <%- include('partials/navbar.ejs') %>

    <!--about us-->
    <div class="about-us-container">
        <h1 class="footer-title1">About Cineverse</h1><br>
        <h3>Where Stories Find Their Audience</h3><br>
        <p>At Ciniverse, we believe that movies and shows aren’t just entertainment—they’re
             experiences, emotions, and escapes into different worlds. But with so many 
             options out there, finding the right one can feel overwhelming. That’s where we
              come in.  We make discovering movies and series effortless, exciting, and 
              tailored to you. No more endless scrolling or watching trailers that don’t 
              deliver. With Ciniverse, your next favorite film is just a click away.
        </p><br>
        <p>We make discovering movies and series effortless, exciting, and tailored to you.
             No more endless scrolling or watching trailers that don’t deliver. With 
             Ciniverse, your next favorite film is just a click away.
        </p><br>
        <h3>Our Mission</h3><br>
        <p>To connect people with the perfect movie or show by delivering smart, personalized
             recommendations that turn watching into a seamless and enjoyable experience.
        </p><br>
        <h3>What We Do</h3><br>
        <div class="what-we-do">
            <h4>Personalized Recommendations - </h4>
            <p>Tell us your mood, and we'll find the right match.</p>
            <h4>Endless Variety - </h4>
            <p>From Hollywood blockbusters to hidden indie gems, we've got it all.</p>
            <h4>Smart Discovery - </h4>
            <p>Our system learns what you love and curates picks just for you.</p>
        </div><br>
        <h3>Why It Matters</h3><br>
        <p>We know that stories have the power to inspire, comfort, and excite. Ciniverse
             makes sure you never miss out on the ones that truly matter to you.
        </p><br>
        <p>Ready to dive it? Let's find your next watch.</p>
    </div>

    <!--footer-->
    <%- include('partials/footer.ejs') %>

    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/app.js"></script>
    
</body>
</html>