<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <title>Cineverse - Contact Us</title>
</head>
<body class="footer-body contact-body">
    <!--navigation bar-->
    <%- include('partials/navbar.ejs') %>
        
    <section class="contact">
        <div class="containerContact">
            <h2 class="footer-title2">Contact Us</h2>
            <div class="contact-wrapper">
                <div class="contact-form">
                    <h3>Send us a message</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Your Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Your Email">
                        </div>
                        <div class="form-group">
                           <textarea name="message" placeholder="Your Message"></textarea>
                        </div>
                        <button type="submit">Send Message</button>
                    </form>
                </div>
                <div class="contact-info">
                    <h3>Contact information</h3>
                    <p><i class="fas fa-phone"></i>+20 100 974 6614</p>
                    <p><i class="fas fa-envelope"></i>Cineverse@gmail.com</p>
                    <p><i class="fas fa-map-marker-alt"></i>123 Street, Cairo, Egypt</p>
                </div>
            </div>
        </div>
    </section>
    
     <!--footer-->
     <%- include('partials/footer.ejs') %>

    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>