<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <title>Cineverse - Home</title>
</head>

<body class="home-body" >
    <!--navigation bar-->
    <%- include('partials/navbar.ejs') %>

    <div class="section1">
        <hr class="cine-hr">
        <h1 class="cineverse">CINEVERSE</h1>
        <p class="cine-desc">Lost in the endless scroll? Let us be your guide.</p><br>
        <a href="/recommendations">
            <button class="cine-button">   FIND YOUR MOVIE  &#8594</button>
        </a>
    </div>

    <div class="stars"></div>
            
    <!--footer-->
    <div class="footer-container">
        <%- include('partials/footer.ejs') %>
    </div>
    
<script src="/scripts/app.js"></script>
</body>
</html>


