<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <title>Cineverse - Recommendations</title>
</head>
<body class="recommendations-body">
    <!--navigation bar-->
     <%- include('partials/navbar.ejs') %>
    
    <!--section 1-->
    <div class="rec-container">
        <div class="recommendations">
            <h1 id="movierec">Movie Recommendation</h1>
            <p>Can't decide between thousands of movies available for streaming?</p>
            <p>Just answer these 3 questions and let us do the work!</p>
            <button id="start-now-button" onclick="window.location.href='/start_now'">Start Now</button>
        </div>
    </div>
    
     
    <!-- footer -->
    <%- include('partials/footer.ejs') %>

    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/app.js"></script>
</body>
</html>
