<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <title>Cineverse - Search</title>
</head>
<body class="search-body">
    <!--navigation bar-->
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container"><h1 class = "logo">Cineverse</h1></div> 
            <div class="menu-container">
                <ul class="menu-list">
                    <a href="index.html"><li class="menu-list-item active">Home</li></a>
                    <a href="recommendations.html"><li class="menu-list-item">Recommendations</li></a>
                    <a href="watchlist.html"><li class="menu-list-item">Watchlist</li></a>
                    
                </ul>
            </div>
            <div class="profile-container">
                <a href="login.html"><img class="profile-picture" src="../images/profile1.jpg" alt=""></a>
                <div class="profile-text-container">
                    <span class="profile-text"><a id=profile href="login.html" target="_self">Profile</a></span>                </div>
                    <i class="fa-solid fa-bell notification-icon"></i>
                <div class="toggle">
                    <i class="fa-solid fa-moon toggle-icon"></i>
                    <i class="fa-solid fa-sun toggle-icon"></i>
                    <div class="toggle-ball"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Search bar -->
<div class="search-wrapper">
    <label for="search">Search:</label>
    <input type="search" id="search">

    <!-- Movie Cards Container -->
<div class="movie-cards" data-user-cards-container>
    <template data-user-template>
        <div class="card">
            <img src="" alt="Movie Poster" data-img>
            <div class="card-content">
                <h2 data-header></h2>
                <p data-year></p>
                <p data-genre></p>
            </div>
        </div>
    </template>
    

</div>
</div>

<!--footer-->
<div class="footer">
    <ul>
        <li><a href="help_center.html">Help Center</a></li>
        <li><a href="about_us.html" >About Us</a></li>
        <li><a href="contact_us.html">Contact Us</a></li>
        <li><a href="privacy_policy.html">Privacy Policy</a></li>
        <li><a href="terms_of_service.html">Terms of Service</a></li>
    </ul>
    <p>© 2025 Cineverse - All Rights Reserved.</p>
</div>
<script src="../scripts/app.js"></script>

</body>
</html>