<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <title>Cineverse - Search</title>
</head>
<body class="search-body">
    <!--navigation bar-->
    <%- include('partials/navbar.ejs') %>

    <!-- Search bar -->
    <div class="search-wrapper">
        <div class="search-container">
            <label for="search" id="search-label">Search:</label>
            <input type="search" id="search">
        </div>
        
        <!-- Movie Cards Container -->
        <div class="movie-cards" data-user-cards-container>
            <template data-user-template>
                <div class="card">
                    <img src="" alt="Movie Poster" data-img>
                    <div class="card-content">
                        <h2 data-header></h2>
                        <p data-year></p>
                        <p data-genre></p>
                        <div class="add-to-watchlist">
                            <button  class=" add-to-watchlist-btn watchlist-btn">Add to Watchlist</button>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>

    <div id="movies-container"></div>
    <div class="pagination">
        <button id="prev-btn">Previous</button>
        <button id="next-btn">Next</button>
    </div>

    <!--footer-->
    <%- include('partials/footer.ejs') %>

<script src="/scripts/navbar.js"></script>
<script src="/scripts/app.js"></script>

</body>
</html>