<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cineverse - Sign Up</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body class="login-body">
    <!-- Navbar -->
    <%- include('partials/navbar.ejs') %>

    <!-- Sign Up Form -->
    <div class="signup-container">
        <form id="signup-form">
            <h1>Sign Up</h1>

            <div class="input-control">
                <label for="fullname">Full Name</label>
                <input type="text" id="fullname" name="fullname" required>
            </div>

            <div class="input-control">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-control">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-control password-control">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <i class="fa-regular fa-eye toggle-password" onclick="togglePassword('password', this)"></i>
            </div>

            <div class="input-control password-control">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
                <i class="fa-regular fa-eye toggle-password" onclick="togglePassword('confirm-password', this)"></i>
            </div>

            <button type="submit">Sign Up</button>

            <p class="login-link">Already have an account? <a href="/login">Log in</a></p>
        </form>
    </div>

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>

    <script src="/scripts/navbar.js"></script>
    <script src="../scripts/signup.js"></script>
    <script src="../scripts/notifications.js"></script>
    <script src="../scripts/app.js"></script>
    
</body>
</html>
