
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <title>Cineverse - Watchlist</title>
</head>
<body>
    <!--navigation bar-->
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container"><h1 class="logo">Cineverse</h1></div> 
            <div class="menu-container">
                <ul class="menu-list">
                    <a href="/"><li class="menu-list-item active">Home</li></a>
                    <a href="/recommendations"><li class="menu-list-item">Recommendations</li></a>
                    <a href="/watchlist"><li class="menu-list-item">Watchlist</li></a>
                </ul>
            </div>
            <div class="profile-container">
                <a href="/login"><img class="profile-picture" src="../images/profile1.jpg" alt=""></a>
                <div class="profile-text-container">
                    <span class="profile-text"><a id="profile" href="/login" target="_self">Profile</a></span>
                </div>
                <i class="fa-solid fa-bell notification-icon"></i>
                <div class="toggle">
                    <i class="fa-solid fa-moon toggle-icon"></i>
                    <i class="fa-solid fa-sun toggle-icon"></i>
                    <div class="toggle-ball"></div>
                </div>
            </div>
        </div>
    </div>
    
      <!--section 1-->
      <div class="container">
        <div class="content-container">
            <div class="featured-content">
            <img class="featured-title" src="C:\Users\ok\Desktop\Cineverse--Movie-Recommendation-Website--main (1)\images\featured-title-1.png" alt="">
            </div>
            <!--movie list 1-->
            <div class="movie-list-container">
                <h1 class="movie-list-title"> Your Cinematic Journey</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list-watchlist">
                        <div class="movie-list-item-watchlist">
                            <img class="movie-list-item-img" src="../images/movie2.jpg"alt="">
                         
                            <label class="label-watchlist">Arthur Fleck (Joaquin Phoenix)
                                forms a twisted bond with Lee Quinzel (Lady Gaga) in Arkham Asylum, blending
                                psychological drama with musical elements.</label>
                            <button class="movie-list-item-button-watchlist">WATCH</button>
                        </div>
                        <div class="movie-list-item-watchlist">
                            <img class="movie-list-item-img" src="../images/movie7.jpg"alt="">
                            
                            <label class="label-watchlist">A musical fantasy exploring the origins of Elphaba,
                                the future Wicked Witch of the West, and her complex friendship with Glinda
                                in the Land of Oz.</label>
                            <button class="movie-list-item-button-watchlist">WATCH</button>
                        </div>
                        <div class="movie-list-item-watchlist">
                            <img class="movie-list-item-img" src="../images/movie8.jpg"alt="">
                            
                            <label class="label-watchlist">A sequel to 28 Days Later and 28 Weeks Later, this film explores the
                                aftermath of the rage virus decades later, as new survivors face a terrifying resurgence of
                                the infection.</label>
                            <button class="movie-list-item-button-watchlist">WATCH</button>
                        </div>
                        <div class="movie-list-item-watchlist">
                            <img class="movie-list-item-img" src="../images/movie3.jpg"alt="">
                            
                            <label class="label-watchlist">A prequel exploring Mufasa's rise from orphaned cub to Pride Lands'
                                king, highlighting his bond with brother Taka (later Scar).</label>
                            <button class="movie-list-item-button-watchlist">WATCH</button>
                        </div>
                        <div class="movie-list-item-watchlist">
                            <img class="movie-list-item-img" src="../images/movie27.jpg"alt="">
                           
                            <label class="label-watchlist">Siblings running a horse ranch discover a mysterious,
                                otherworldly presence in the sky..</label>
                            <button class="movie-list-item-button-watchlist">WATCH</button>
                        </div>
                        <div class="movie-list-item-watchlist">
                            <img class="movie-list-item-img" src="../images/moviee30.jpg"alt="">
                           
                            <label class="label-watchlist">In a city where elements don't mix, a fiery girl and a watery
                                guy form an unlikely bond.</label>
                            <button class="movie-list-item-button-watchlist">WATCH</button>
                        </div>
                        <div class="movie-list-item-watchlist">
                            <img class="movie-list-item-img" src="../images/moviee34.jpg"alt="">
                           
                            <label class="label-watchlist">A boy travels to the Land of the Dead to uncover his family's 
                                hidden past and love for music.</label>
                            <button class="movie-list-item-button-watchlist">WATCH</button>
                        </div>
                        <div class="movie-list-item-watchlist">
                            <img class="movie-list-item-img" src="../images/movie19.jpg"alt="">
                           
                            <label class="label-watchlist">Deadpool teams up with a reluctant Wolverine to take on a new
                                multiversal threat.</label>
                            <button class="movie-list-item-button-watchlist">WATCH</button>
                        </div>
                    </div>
                    
                </div>
            </div>
                           

    <!-- footer -->
    <div class="footer">
        <ul>
            <li><a href="help_center.html">Help Center</a></li>
            <li><a href="about_us.html" >About Us</a></li>
            <li><a href="contact_us.html">Contact Us</a></li>
            <li><a href="privacy_policy.html">Privacy Policy</a></li>
            <li><a href="terms_of_service.html">Terms of Service</a></li>
        </ul>
        <p>© 2025 Cineverse - All Rights Reserved.</p>
    </div>
</div>
<script src="../scripts/app.js"></script>

</body>
</html>
