
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="icon" type="image/png" href="../images/logo.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <title>Cineverse - Watchlist</title>
</head>
<body>
    <!--navigation bar-->
    <%- include('partials/navbar.ejs') %>
    
      <!--section 1-->
      <div class="container">
        <div class="content-container">
            <div class="featured-content">
            <img class="featured-title" src="C:\Users\ok\Desktop\Cineverse--Movie-Recommendation-Website--main (1)\images\featured-title-1.png" alt="">
            </div>
            <!--movie list 1-->
            <div class="movie-list-container">
                <h1 class="movie-list-title"> Your Cinematic Journey</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list-watchlist">
                        
                    </div>
                    
                </div>
            </div>
                           

    <!-- footer -->
    <%- include('partials/footer.ejs') %>
</div>

    <script src="/scripts/navbar.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/watchlist.js"></script>
</body>
</html>
