* {
    margin:0;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-VariableFont-wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 300;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    /*background-color: black;*/
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)) !important;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
}

.navbar-container.active, 
.navbar-container.active .menu-list-item, 
.navbar-container.active .menu-list-item a {
    color: black;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Goudy Bookletter 1911", sans-serif;
}

.logo-container {
    flex: 1;
}

.logo {
    font-size: 30px;
    color: rgb(234, 141, 234);
}

.menu-container {
    flex: 6;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.menu-list a:hover {
    color: rgb(234, 141, 234);
}

.menu-list-item {
    margin-right: 30px;
}

.menu-list-item.active {
    font-weight: bold;
}

.profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    object-fit: cover; 
    justify-content: flex-end;
}

.profile-container a {
    display: block;
    color: white;
    text-decoration: none;
}

.profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}       

#profile {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    padding-right: 5px;
    transition: color 0.3s ease;
}

#profile:hover {
    color: rgb(234, 141, 234);
}

.login-body {
    background-color: #151515;
    font-family: sans-serif;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #151515;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-control input {
    border: 2px solid rgb(233, 230, 230); 
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 94%;
    align-items: center;
}

.input-control input:focus {
    outline: 0;
}


.input-control.success input {
    border-color: aqua;
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: 9px;
    height: 13px;
    padding: 2px;
}

.profile-text-container a:hover {
    color: rgb(234, 141, 234);
}

.toggle {
    width: 40px;
    height:20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    color: #151515;
}

.toggle-icon {
    color: rgb(234, 141, 234);
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.6s ease all;
}

.sidebar {
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.sidebar a {
    display: block;
    color: white;
    font-size:20px;
}

.sidebar a i {
    transition: color 0.3s ease;
}

.sidebar i:hover {
    color: rgb(234, 141, 234) !important;
}

.left-menu-icon {
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color:white
}

.content-container {
    margin-left: 50px;
}

.featured-title {
    width: 200px;
}

.featured-content {
    height:50vh;
    padding:50px;
    background-color: black;
    background : linear-gradient(to bottom,rgba(0,0,0,0),#151515), url(../images/background1.png);
    background-size: 100%;
}

.featured-desc {
    width:500px;
    color:lightgray;
    margin:50px 0;
}

.featured-button {
    background-color: rgb(234, 141, 234);
    color:white;
    padding :10px 20px;
    border-radius:20px;
    border:none;
    outline:none;
    font-weight: bold;
}

.movie-list-container {
    padding:0 20px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display:flex;
    align-items: center;
    height:300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item {
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img {
    transform:scale(1.2);
    margin: 0 30px;
    opacity: 0.7;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
    width: 270px;
    height: 200px;;
    object-fit: cover;
    transition:all 1s ease-in-out;
    border-radius: 20px;
}

.movie-list-item-title {
    background-color: grey;
    padding: 0 10px;
    font-size: 25px;
    height: 33px;
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: inline-block;
}

.movie-list-item-desc {
    background-color: grey;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 20%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
} 

.movie-list-item-button {
    position: absolute;
    padding: 10px;
    background-color:rgb(234, 141, 234);
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.arrow {
    font-size: 120px;
    position: absolute;
    right: 0;
    top: 90px;
    color: lightgray;
    opacity: 0.7;
    cursor: pointer;
    z-index: 1;
}

.not-signed-in {
    display: flex;
    padding: 15px;
    color:white;
    justify-content: center;
    text-align: center;
    height: 100px;
    border: 5px solid white;
    border-radius: 10px;
    box-sizing: 10px;
    position: absolute;
    left: 200px;
}

.container.active{
    background-color: white;
}

.movie-list-title.active{
    color:black;
}

.navbar-container.active{
    background-color: white;
    color:black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translate(-20px);
}

.footer {
    background-color: rgba(128, 128, 128, 0.211);
    padding: 70px;
    align-items: center;
    text-align: center;
    color: white;
}

.footer ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0 50px;
    padding-bottom: 30px;
    justify-content: center;
}

.footer ul li {
    display: inline;
}

.footer ul a {
    text-decoration: none;
    color: grey;
    transition: color 0.3s ease;
}

.footer ul a:hover {
    color: rgb(234, 141, 234);
}

.footer p {
    padding: 0 50px;
    padding-bottom: 10px;
}

.about-us-container, .privacy-policy, .help-center, .terms-of-service {
    color: white;
    padding: 0 50px;
    margin: 20px;
    padding-top: 40px;
}

.what-we-do {
    display: inline;
}

.contact{
    min-height: 100vh;
    padding: 50px;
    text-align: center;
}

.containerContact{
    max-width: 800px;
    margin:0 auto;
}

.containerContact h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: rgb(234, 141, 234);
}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.contact-form{
    text-align: center;
}

.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(234, 141, 234);
}

.form-group{
    margin-bottom: 20px;
}

input, textarea{
    width: 70%;
    padding: 12px;
    border-radius: 8px;
    border:none;
    background-color: #f8f9fa;
    color:#333;
}

input:focus,
textarea:focus{
    outline:none;
    box-shadow:0 0 8px #bbb;;
}

button{
    display: inline-block;
    padding:12px 24px;
    background-color: rgb(234, 141, 234);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background-color: rgb(234, 141, 234);
}

.contact-info{
    text-align: center;
}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(234, 141, 234);
}

.contact-info p{
    margin-bottom: 10px;
    color:#fff;
}

.contact-info i{
    color: rgb(234, 141, 234);
    margin-right: 10px;
}

.label-watchlist{
    color: grey;
    display: flex;
    padding: 10px;
    font-size: 14px;
    right: 200px;
    width: 230px;
    margin: 5px;
}

.movie-list-item-button-watchlist
{
    margin:20px 15px;
}

.movie1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 20px;
    padding-left: 100px;
    width: 50%;
    height: 50%;
}

.movie1-list-item-img {
    position: relative;
    width: 50%;
    height: 50%;
}

.search-body {
    font-family: Arial, sans-serif;
    color: white; /* Light text for contrast */
    margin: 0;
}

.search-wrapper {
    margin: 50px 50px;
    color: white;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}


.search-wrapper .input{
    font-size: 1rem;
    margin-bottom: 20px;
}

#search {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.movie-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
}

.card {
    display: flex;
    align-items: center;
    background-color: #1f1f1f; /* Darker background for cards */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.card img {
    width: 60px; /* Adjust size */
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 15px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-content h2 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 3px;
}

.card-content p {
    margin: 3px 0;
    font-size: 14px;
    color: #b3b3b3; /* Slightly lighter text */
}

.recommendations{
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 25px;
    font-size: large;
    gap: 20px; 
    margin-bottom: 40px; 
}

.movierec{
    margin-bottom: 20px;
}

/*.recommendBtn{
    padding: 20px;
    font-size: 16px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color:purple;
    color: #fff;
    cursor: pointer;
}*/

/*.recommendBtn:hover{
    background-color:lightpink;
}*/

.recommendation {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    text-align: center;
    margin-top: 10px; 
    font-size: 18px;
}

.output-section {
    background-color: #333;
    padding: 20px;
    text-align: center;
    margin-top: 30px; 
    padding: 20px; 
    border: 1px solid #444; 
    border-radius: 10px; 
    background: #2e2e2e; 
    max-width: 400px;
}

#start-now-button {
    border-radius: 10px;
    width: 200px;
    height: 55px;
    font-size: 20px
}

#start-now-button:hover {
    color: rgb(234, 141, 234);
    background-color: white;
}

.start-now-div {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    padding: 20px;
    color: white;
    background-color: #2e2e2e;
    padding-top: 55px;
}

.start-now-div h3, .start-now-div p {
    font-size: 30px;
}

.rec-container {
    margin: auto;
    padding: 20px;
    background-color: #2e2e2e;
}

.recommendations {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
}

.genre-container {
    margin: auto;
    padding: 20px;
    display: flex;
    background-color: #2e2e2e;

}

.genres1, .genres2 {
    text-align: left;
    display: grid;
    font-size: 25px;
}

.genre-option1, .genre-option2 {
    border: 2px solid white;
    padding: 20px;
    margin-right: 10px;
    width: 300px;
    text-align: left;
}

.genre-option1 input, .genre-option2 input, .release-year input {
    width: 50px;
    border: none;
    outline: none;
    box-shadow: none;
    margin-right: 10px;
}

.genre-option1:hover, .genre-option2:hover, .release-year:hover {
    background-color: rgb(234, 141, 234);
}

.genre-option1:has(input:checked), .genre-option2:has(input:checked), .release-year:has(input:checked) {
    background-color: rgb(234, 141, 234);
}

.age-container input {
    width: 650px;
    height: 30px;
    color: rgb(234, 141, 234);
    font-size: 20px;
    font-weight: bold;
}

.age-container input::-webkit-input-placeholder {
    color: rgb(234, 141, 234);
}

.release-year-container {
    text-align: center;
    display: grid;
    font-size: 25px;
    margin: auto;
    padding: 20px;
}

.release-year {
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    padding: 20px;
    margin-right: 10px;
    width: 650px;
    text-align: left;
}

#get-recommendation-button {
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
    color: rgb(234, 141, 234);
}

#get-recommendation-button:hover {
    transform: scale(1.02);
    background-color: rgb(234, 141, 234);
    color: white;
    cursor: pointer;
}