.admin-buttons {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#addmovie-description, #updatemovie-description {
    border: 1px solid black;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    resize: vertical;
    outline: none;
    width: 95%;
}

#addmovie-genres, #updatemovie-genres {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 95%;
}