.profile.container {
    text-align: center;
    padding: 4rem 1 rem;
}

.profile-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #dc6ecf;
}

.profile-card {
    background-color: #1e1e1e;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    transition: transform 0.3s ease;
}

.profile-card:hover {
    transform: translateY(_5px);
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #dc6ecf;
    margin-bottom: 1rem;
}

.profile.card p {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    color: white;
}

.profile-card strong {
    color: #dc6ecf;
}

.profile-card i {
    margin-right: 8px;
    color: #dc6ecf;
}