@media (max-width: 500px) {
  .profile-btns {
    flex-direction: column;
    align-items: center;
  }

  .profile-btns button,
  .profile-btns form {
    width: 100%;
    text-align: center;
  }
}

.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
}

.profile-page-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* this centers children horizontally */
    gap: 20px; /* gives space between elements */
    padding: 50px 20px;
}

.profile-page-container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #dc6ecf;
}

.profile-page-card {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px 30px;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    transition: transform 0.3s ease;
}

.profile-page-p {
    color: white;
    font-size: 20px;
}
.profile-page-card:hover {
    transform: translateY(-5px);
}

.profile-page-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #dc6ecf;
    margin-bottom: 15px;
}

.profile-page-card p {
    font-size: 20px;
    margin: 0.5rem 0;
    color:  white;
}

.profile-page-card strong {
    color: #dc6ecf;
}

.profile-page-card i {
    margin-right: 8px;
    color: #dc6ecf;
}

.upload-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.upload-modal-content {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    color: white;
}

.upload-modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
}

.upload-modal-content input {
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: white;
    font-size: 16px;
    outline: none;
}

.upload-modal-content input::placeholder {
    color: #aaa;
}

.upload-modal-content button[type="submit"] {
    background-color: #dc6ecf;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-modal-content button[type="submit"]:hover {
    background-color: #bb5bae;
}

.profile-page-card button,
.upload-modal-content button,
#toggle-password-form {
    background-color: #dc6ecf;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 10px 5px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-weight: 500;
}

.profile-page-card button:hover,
.upload-modal-content button:hover,
#toggle-password-form:hover {
    background-color: #bb5bae;
    transform: translateY(-2px);
}
