<div class="footer">
        <ul>
            <li><a href="/help_center">Help Center</a></li>
            <li><a href="/about_us" >About Us</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
            <li><a href="/privacy_policy">Privacy Policy</a></li>
            <li><a href="/terms_of_service">Terms of Service</a></li>
        </ul>
        <p>© 2025 Cineverse - All Rights Reserved.</p>
    </div>