<div class="navbar" id="navbar">
        <div class="navbar-container">
            <a href="/"><div class="logo-container"><img class="logo" src="/images/Cineverse_logo-removebg1.png"></div></a>
            <div class="menu-container">
                <ul class="menu-list">
                    <a href="/"><li class="menu-list-item active">Home</li></a>
                    <a href="/recommendations"><li class="menu-list-item">Recommendations</li></a>
                    <a href="/watchlist"><li class="menu-list-item">Watchlist</li></a>
                    <a href="/search"><li class="menu-list-item">Search</li></a>
                </ul>
            </div>
            <div class="profile-container">
                <a href="/login"><img class="profile-picture" src="/images/profile1.jpg" alt=""></a>
                <div class="profile-text-container">
                    <span class="profile-text"><a id="profile" href="/login" target="_self">Profile</a></span>
                </div>
                <button id="auth-btn" class="auth-button">Login</button>
                <i class="fa-solid fa-bell notification-icon"></i>
                <div class="toggle">
                    <i class="fa-solid fa-moon toggle-icon-dark"></i>
                    <i class="fa-solid fa-sun toggle-icon-light"></i>
                    <div class="toggle-ball"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="/frontend/pages/"></script>